/* * {box-sizing:border-box;} */
body {
     background-image: url('https://miro.medium.com/max/15904/1*eG2MFl0sGRKFmd_USgA_8Q.jpeg');
     background-size: cover; 
     color: white;
     text-align: center;
     font-size: 30px;
     
}

 #title, #description {
    font-family: 'Arial';
    text-align: center;
    font-size: 30px;
    width: 100%;
}
#title {
      font-size: 40px;
}
#body {
    width: 600px;
    padding: 30px;
    margin: auto;
    /* font-size: 20px; */
    border-radius: 10px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.6);
}
#name, #email , #age, #dropdown{
    width: 550px;
    padding: 10px;
}

